{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  Estilos  -->

    <link rel="stylesheet" type="text/css" href="{% static 'styles/estilos.css' %}">

    <!--  Fuentes  -->

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->

    <link rel="icon" href="images/favicon.ico">

</head>

<body>

    <header>
        <div class="cabezote">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo de la entidad ANM asesores">
            </div>

            <p class="info">
                Administrador
            </p>
            
            <a class="exit" href = "{% url 'auth:logout' %}">
                <img src="{% static 'images/exit.png' %}" alt="logo de apagado en color vinotinto">
            </a>
        </div>
    </header>

    <main class="invent">
        <div class="content2">
            <div class="izq">
                <div class="up">
                    <div class="title">
                        <h1>Inventario</h1>

                        <button class="lupa">
                            <img src="{% static 'images/lupa.png' %}" alt="lupa de color rojo">
                        </button>

                        <div id="header-item-center">
                            <form method="post" action= "{% url 'main:busqueda' %}">
                                {% csrf_token %}
                                <label for="cliente_search"></label>
                                <input id="busqueda" type="text" name="user_input">
                                <input type="submit" value="Search" />
                            </form>
                        </div>
                    </div>

                    <div class="botones">
                        <a href="{% url 'main:clientes' %}">Clientes</a>
                        <a href="{% url 'main:home' %}">Peticiones</a>
                        <button>Agregar</button>
                    </div>
                </div>

                <div class="informacion">
                    <table class="tablas">
                        <tr>
                            <th>Nombre</th>
                            <th>Servicio</th>
                            <th>Teléfono</th>
                            <th>Fecha</th>
                        </tr>
                        {% for item in clientes %}
                        <tr>
                            <td>{{item.nombre}}</td>
                            <td>{{item.servicio.nombre}}</td>
                            <td>{{item.telefono}}</td>
                            <td>{{item.fecha}}</td>
                            <td> <a href= "{% url 'main:eliminar_cliente' item.id %}"><img src="{% static 'images/basura.png' %}" alt="caneca de basura de color rojo" ></a></td>
                            <td> <a href = "{% url 'main:editar_cliente' item.id %}"><img src="{% static 'images/lapiz.jpg'   %}" alt="lapiz de color blanco con fondo verde"></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            <div class="boton">
               <button>Eliminar         </button>
                
                <button>Editar
                </button>
            </div>


            <div class="der">
                <h2>Agregar Cliente</h2>
                <div class="formu">
                    <form method="POST" action= "{% url 'main:agregar_cliente' %}">
                        {% csrf_token %}
                        <input type="text" placeholder="Nit" name= "nit"><br>
                        <input type="text" placeholder="Nombre" name= "nombre"><br>
                        <input type="text" placeholder="Telefono" name= "telefono"><br>
                        <input type="date" placeholder="Fecha" name="fecha"><br>
                        <select name="servicio" required id="id_servicio" name="servicio" >
                            <option value selected>Selecciona el servicio que deseas</option>
                            {% for item in servicios %}
                            <option value = "{{item.id}}"> {{item.nombre}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <input type="submit" value="Guardar" ><br>
                        
                        <button>Volver</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div class="buscadorCel">
        <button class="volver">
            <img src="{% static 'images/equis.png' %}" alt="Equis de color vinotinto">
        </button>

        <div id="header-item-center2">
            <form method="post">
                <label for="prisoner_search2"></label>
                <input id="prisoner_search2" type="text" name="user_input2">
                <input type="submit" value="Buscar" />
            </form>
        </div>
    </div>

</body>
</html>