{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  Estilos  -->

    <link rel="stylesheet" type="text/css" href="{% static 'styles/estilos.css' %}">

    <!--  Fuentes  -->

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->

    <link rel="icon" href="images/favicon.ico">

</head>

<body>
    
    <header>
        <div class="cabezote">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="</a>">
            </div>
            
            <p class="info">
                Administrador
            </p>
            
            <a class="exit" href = "{% url 'auth:logout' %}">
                <img src="{% static 'images/exit.png' %}" alt="logo de apagado en color vinotinto">
            </a>
        </div>
    </header>
    
    <main class="peticiones">       
        <div class="contenido">
                    <div class="up">
                    <div class="title">
                        <h1>Inventario</h1>

                        <div class="lupa">
                            <img src="{% static 'images/lupa.png' %}" alt="lupa de color rojo">
                        </div>

                        <div id="header-item-center">
                            <form method="post" action= "{% url 'main:busqueda_peticion' %}">
                                {% csrf_token %}
                                <label for="cliente_search"></label>
                                <input id="busqueda" type="text" name="user_input">
                                <input type="submit" value="Search" />
                            </form>
                        </div>
                    </div>

                    <div class="botones">
                        <a href="{% url 'main:clientes' %}">Clientes</a>
                        <a href="{% url 'main:home' %}">Peticiones</a> 
                    </div>
                </div>

                    <div class="informacion">
                        <table class="tablas">
                            
                            <tr>
                                <th>Nombre</th>
                                <th>Correo eléctronico</th>
                                <th>Teléfono</th>
                                <th>Servicio</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                            </tr>
                            

                            {% for item in peticiones %}
                            
                            <tr>
                                <td>{{item.nombre}}</td>
                                <td>{{item.correo}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.servicio.nombre}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>
                                   
                                    <a href="{% url 'main:cambiar_estado' item.id %}"  {% if item.estado_revision == 1%} style="color: darkgreen;" {% else %} style="color: red;"{% endif%}>
                                        {% if item.estado_revision == 1%}
                                            Revisado
                                        {% else %}
                                            Sin revisar
                                        {% endif %}
                                       
                                    </a>
                                
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </table>
                    </div>
        </div>
    </main>
    
</body>
</html>